body {
    align-items: center;
    text-align: center;
    margin: 4px;
    padding: 0;
    width: auto;
    height: auto;
}

.title{
    background-color: #304ffe;
    color: #ffff00;
    font-family: cursive;
}

.color-text{
    text-decoration: none;
    color: #ffff00;
    font-size:large;
}


img {
    width: 200px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(80%);
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container .btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #304ffe;
    font-family: cursive;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #304ffe;
    font-family: cursive;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover{
    background-color: #ff4081;
}

.container .btn2:hover {
    background-color: #ff4081;
}

