body {
    align-items: center;
    background-color: black;
    text-align: center;
    margin: 4px;
    padding: 0;
    width: auto;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: #ffffff;
    font-family: 'Cuprum', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 0 #0505f3, 5px 5px 0 #eefa0e, 8px 8px 0 #fc06e7, 11px 11px 0 #93939c; 
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}

.container .btn2 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: #ffffff;
    font-family: 'Cuprum', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 0 #0505f3, 5px 5px 0 #eefa0e, 8px 8px 0 #fc06e7, 11px 11px 0 #93939c; 
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}

.container .btn:hover{
    text-shadow: 2px 2px 0 #fc06e7, 5px 5px 0 #eefa0e, 8px 8px 0 #0505f3, 11px 11px 0 #93939c; 
}

.container .btn2:hover{
    text-shadow: 2px 2px 0 #fc06e7, 5px 5px 0 #eefa0e, 8px 8px 0 #0505f3, 11px 11px 0 #93939c; 
}