@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Cuprum:ital@1&family=Niconne&family=Sail&display=swap');

body {
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.logo {
  font-size: 3rem;
  text-align: center;
  height: 25vh;
  line-height: 20vh;
  color: #ffffff;
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
  text-shadow: 5px 5px 0 #0505f3, 10px 10px 0 #eefa0e, 15px 15px 0 #fc06e7, 20px 20px 0 #93939c; 
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.logo2 {
  text-align: center;
  height: 25vh;
  line-height: 20vh;
  color: #0505f3;
  font-family: 'Cuprum', sans-serif;
  background: #ffffff;
  font-weight: 700;
  text-shadow: 2px 2px 0 #000000, 5px 5px 0 #eefa0e, 8px 8px 0 #fc06e7, 11px 11px 0 #93939c
}

img {
  width: 200px;
}

.encabezado {
  font-family: 'Cuprum', sans-serif;
  color: #000000;
  font-size: 2rem;
}

.menu-chinicuil {
  text-align: center;
  margin: 0px;
  width: auto;
  font-size: medium;
}

.menu {
  display: flex;
  flex-direction: row;
}

.xolo {
  width: 100%;
  border: 1.5px solid black;
}

.invert {
  width: 100%;
  border: 1.5px solid black;
  filter: invert(100%);
}

.bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.insta {
  width: 30px;
  margin-right: 5px;
}

.chin {
  text-decoration: none;
  color: black;
  font-size: large;
}

.xolox {
  width: 60%;
  border: 1.5px solid black;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.color_line {
  color: blue;
}