body{
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

img{
  width: 200px;
}

.encabezado{
  font-family: cursive;
}

.menu-chinicuil{
  text-align: center;
  margin: 15  px;
  width: 100%;
  font-size: medium;
}

.menu{
  display: flex;
  flex-direction: row;
}

.xolo{
  width: 100%;
  
  border: 1.5px solid black;
}

.bw{
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.insta{
  width: 30px;
  margin-right: 5px;
}